*{
    margin: 0;
    padding: 0;
    height: 100%;
}

.body-main{
    display: flex; 
}

.welcome-message{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.title-custom{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-banner{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: grey;
    align-items: center;
    justify-content: center;
}

.welcome-message img {
    width: 100px;
    width: 100%;
    display: flex;
}

.custom-btn{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

